<form action="" method="POST">
  <div class="form-group">
    <input
      type="hidden"
      id="<%= `${type}id` %>"
      name="<%= `${type}id` %>"
      class="form-control"
      value="<%= id %>"
    />
  </div>
  <button
    type="submit"
    class="bg-red-500 hover:bg-red-600 text-white hover:no-underline rounded px-3 py-2 w-fit flex items-center gap-2"
  >
    <!-- prettier-ignore -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-white w-6">
      <path d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M7,13H17V11H7" />
    </svg>
    Delete <%= type %>
  </button>
  <p class="text-red-600">Are you sure you want to delete this <%= type %>?</p>
</form>
