<%- include('./partials/header') %>
<div class="flex flex-col gap-2">
  <h2 class="text-7xl">
    Welcome to <span class="text-accent">Members</span>Only
  </h2>
  <p class="font-medium text-2xl">
    The exclusive clubhouse where
    <span class="text-accent">members</span> can write anonymous posts
  </p>
</div>
<ul class="list-none pl-4 -indent-4">
  <li>
    <span class="text-accent">&#187;</span> From the outside,
    <span class="text-accent">anyone</span> can see messages and wonder who
    wrote them.
  </li>
  <li>
    <span class="text-accent">&#187;</span> From the inside,
    <span class="text-accent">anyone</span> can write new messages.
  </li>
  <li>
    <span class="text-accent">&#187;</span> Only
    <span class="text-accent">members</span> of the clubhouse can see who the
    author of a messages is and when it was written.
  </li>
  <li>
    <span class="text-accent">&#187;</span> Only trusted
    <span class="text-accent">admins</span> can moderate the page by deleting
    elements.
  </li>
</ul>

<div class="flex flex-col gap-6">
  <h3 class="font-display font-bold text-3xl -mb-3">Messages</h3>

  <% if (locals.messages.length) { for (const message of messages) { %>
  <div class="border rounded py-4 px-5 flex flex-col gap-2 shadow-md">
    <div class="flex gap-2 items-baseline">
      <h4 class="font-bold text-xl"><%= decode(message.title) %></h4>
      <% if (locals.currentUser?.member) { %>
      <p class="text-gray-400 text-sm">•</p>
      <p class="italic text-gray-400 text-sm">
        <%= formatDate(message.timestamp) %>
      </p>
      <% } %>
    </div>

    <% if (locals.currentUser?.member) { %>
    <p class="text-base">
      by: <span class="text-accent"><%= decode(message.user.fullName) %></span>
    </p>
    <% } %>
    <p><%= decode(message.text) %></p>

    <% if (!locals.currentUser?.member) { %>
    <hr class="my-2" />
    <p class="text-gray-400">
      Become a member to see who wrote this message and when.
    </p>

    <% } else if (locals.currentUser?.admin) { %>
    <hr class="invisible" />
    <!-- prettier-ignore -->
    <%- locals.messageToDelete && message.id === messageToDelete.id
      ? include('./partials/delete-form', { type: 'message', id: message.id})
      : include('./partials/delete-button', { type: 'message', id: message.id }) %>
    <% } %>
  </div>

  <% } } else { %>
  <p>There aren't any clubhouse messages yet.</p>
  <% } %>
</div>
<%- include('./partials/footer') %>
