<%- include('./partials/header') %>
<h2 class="text-xl">Welcome to <%= title %></h2>
<p>
  The exclusive clubhouse where members can write anonymous posts. Inside the
  clubhouse, members can see who the author of a post is, but outside they can
  only see the story and wonder who wrote it.
</p>
<div>
  <% for (const message of messages) { %>
  <div class="border rounded p-4 flex flex-col gap-1">
    <div class="flex gap-2 items-baseline">
      <h3 class="font-bold text-lg"><%= decode(message.title) %></h3>
      <% if (locals.currentUser?.member) { %>
      <p class="text-gray-400 text-sm">•</p>
      <p class="italic text-gray-400 text-sm">
        <%= formatDate(message.timestamp) %>
      </p>
      <% } %>
    </div>
    <% if (locals.currentUser?.member) { %>
    <p>by: <strong><%= decode(message.user.fullName) %></strong></p>
    <% } %>
    <p><%= decode(message.text) %></p>
    <% if (!locals.currentUser?.member) { %>
    <hr class="my-1" />
    <p class="text-gray-400">
      Become a member to see who wrote this message and when.
    </p>
    <% } else if (locals.currentUser?.admin) { %>
    <!-- prettier-ignore -->
    <%- locals.messageToDelete && message.id === messageToDelete.id
      ? include('./partials/delete-form', { type: 'message', id: message.id})
      : include('./partials/delete-button', { type: 'message', id: message.id }) %>
    <% } %>
  </div>
  <% } %>
</div>
<%- include('./partials/footer') %>
