<%- include('./partials/header') %>
<h2><%= title %></h2>

<form action="" method="POST" class="form">
  <div class="grid grid-cols-2 gap-4">
    <div class="input-container">
      <label for="firstName">First Name</label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        placeholder="e.g. Sam"
        class="input"
        required
        value="<%= locals.user ? decode(user.firstName) : '' %>"
      />
      <!-- prettier-ignore -->
      <% const firstNameErr = locals.errors ? findError(errors, 'firstName') : null %>
      <%- firstNameErr && include('./partials/error-msg', { msg: firstNameErr.msg }) %>
    </div>
    <div class="input-container">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        placeholder="e.g. Smith"
        class="input"
        required
        value="<%= locals.user ? decode(user.lastName) : '' %>"
      />
      <!-- prettier-ignore -->
      <% const lastNameErr = locals.errors ? findError(errors, 'lastName') : null %>
      <%- lastNameErr && include('./partials/error-msg', { msg: lastNameErr.msg }) %>
    </div>
  </div>

  <div class="input-container">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="e.g. example@email.com"
      class="input"
      required
      value="<%= locals.user ? decode(user.email) : '' %>"
    />
    <!-- prettier-ignore -->
    <% const emailErr = locals.errors ? findError(errors, 'email') : null %>
    <%- emailErr && include('./partials/error-msg', { msg: emailErr.msg }) %>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div class="input-container">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="input"
        required
      />
      <!-- prettier-ignore -->
      <% const passwordErr = locals.errors ? findError(errors, 'password') : null %>
      <%- passwordErr && include('./partials/error-msg', { msg: passwordErr.msg }) %>
    </div>
    <div class="input-container">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        class="input"
        required
      />
      <!-- prettier-ignore -->
      <% const confirmPasswordErr = locals.errors ? findError(errors, 'confirmPassword') : null %>
      <%- confirmPasswordErr && include('./partials/error-msg', { msg: confirmPasswordErr.msg }) %>
    </div>
  </div>

  <button
    type="submit"
    class="form-btn"
  >
    Sign up
  </button>
</form>
<%- include('./partials/footer') %>
